html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
}

.sections {
  width: 100%;
  height: 100%;
}

/* Navigation Bar */
.logo {
  position: fixed;
  float: left;
  margin: 9px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

nav ul {
  font-weight: 600;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: left;
  padding-left: 50px;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.header_area .navbar {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6rem;
}

/* First Section */
.intro {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url(desat.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
  padding: 0 20px;
}

.containerbro {
  padding-right: 800px;
}

.intro1 {
  font-size: 3.4rem;
  font-weight: 800;
  color: #e4e4e4;
}

.intro2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #c4c4c4;
  max-width: 600px;
  word-wrap: break-word;
}

.secondtext {
  color: antiquewhite;
}

.buttonstyle {
  background-color: #202421;
  border-color: #61c77f;
}

.buttonstyle:hover {
  background-color: white;
  color: black;
  transition: all 0.4s ease 0s;
}

.example_c {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.example_c:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

/* Second Section */
.aboutme {
  font-weight: 700;
  font-size: 2rem;
  color: #454545;
}

.aboutmetext {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

.horline1 {
  width: 400px;
  border: 1px solid;
  color: #454545;
  background-color: #454545;
}

.imgsize {
  height: 150px;
  width: 150px;
}

/* Third Section */
#content {
  margin: 4em auto;
  display: flex;
  width: 90%;
  line-height: 25px;
}

#content .box {
  text-align: center;
}

.card {
  padding: 5px;
  border-width: 3px;
  border-radius: 3%;
  /*background-color: aliceblue;*/
}

.card-img-top {
  border-radius: 3%;
}

.content-header {
  text-align: center;
  justify-content: center;
}

.firstsec {
  background-color: #454545;
}

.secondsec {
  border: 5px solid black;
  padding-bottom: 30%;
}

.thirdsec {
  border: 5px solid black;
}

.fourthsec {
  border: 5px solid black;
}

.fifthsec {
  background-color: #102f37;
}

.contactit {
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  background-color: #c9c9c9;
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #ffffff;
  color: rgb(34, 34, 34);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #ffffff;
}

input[type="text"] {
  background-color: #c9c9c9;
}

/* Add a background color and some padding around the form */
.containere {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(24, 24, 24);
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #1f1f1f;
  padding: 20px;
}

.yeet {
  background-color: #1f1f1f;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 70px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer {
  color: white;
  padding: 14px;
  background-color: black;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #content {
    flex-direction: column;
  }
}