html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
}

body {
  margin: 0;
}

.sections {
  width: 100%;
  height: 100%;
}

.header_area .navbar {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6rem;
}

.fa-affiliatetheme {
  color: white;
  font-size: 40px;
}

.jumbotron {
  height: 100vh;
  background-color: #102f37;
  background-size: cover;
  margin: 0px;
}
.intro {
  font-weight: 800;
}

.intro2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #c4c4c4;
}

#content {
  margin: 4em auto;
  display: flex;
  width: 90%;
  line-height: 25px;
}

#content .box {
  text-align: center;
}

.content-header {
  text-align: center;
  justify-content: center;
}

.aboutme {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  color: #454545;
}

.aboutmetext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  padding-top: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

.horline1 {
  width: 130px;
  border: 6px solid;
  color: #454545;
  background-color: #454545;
}

.firstsec {
  background-color: #454545;
}

.secondsec {
  border: 5px solid black;
  padding-bottom: 30%;
}

.thirdsec {
  border: 5px solid black;
}

.fourthsec {
  border: 5px solid black;
}

.fifthsec {
  background-color: #102f37;
}

#section2 {
  background-color: #102f37;
}

/* Portfolio Old */

/* Navigation */
.navbar-nav {
  font-size: 100%;
  padding: 2px;
}

.nav-item {
  padding-left: 11px;
  padding-right: 11px;
}

.border {
  margin-left: 12px;
  margin-right: 12px;
}

/* Hero */
.jumbotron {
  height: 100vh;
  background-image: url(back.png);
  background-size: cover;
  margin: 0px;
}

.text-left {
  color: white;
}

.hrstyle-1 {
  width: 40%;
  margin: 0px;
  border-color: white;
}

/* Section Two */

.hrstyle-2 {
  width: 25%;
  border-color: white;
}

/* Section Three */
.wrapper-section-three {
  width: 100%;
  background-color: grey;
}

/* Footer */
#copy {
  margin: 0;
  color: white;
}

/* Utilites */
.soc-icons {
  height: 5%;
  width: 5%;
  padding-left: 3px;
  padding-right: 3px;
}

.img-hover:hover {
  background-color: yellow;
}

.cursor-point {
  cursor: pointer;
}

/* Hokela */

@media screen and (max-width: 600px) {
  #content {
    flex-direction: column;
  }
}
